html, body {
  width:100%;
  width: -moz-calc(100% - 8px); /* firefox fix :/ */
  height:100%;

  margin: 0;
}

body {
  padding-top: 50px; /* fixed header */
}

body.embedded {
  padding-top: 0;
}

#main-content, div[ng-view] {
  height: 100%;
  overflow: auto;
  position: relative;
}

.alert {
  margin: 10px;
}

.alert-info.dark {
  color: #B5B5B5;
  background-color: rgba(20, 20, 20, 0.95);
  border-color: #3A3A3A;
}

.alert-info.plain {
  background-color: #F7F7F7;
  border: 1px solid #DDD;
  color: #555;
}

.notification-container {
  position: fixed;
  width: 100%;
  bottom: 0;
}

.notification-container > .alert {
  text-align: center;
  box-shadow: 0 0 4px #000;

  position: absolute;
  max-width: 300px;
  width: 100%;
  transform: translateX(-50%);
  margin-bottom: 20px;
  padding: 8px;
  bottom: 0;
  left: 50%;
}

.notification-container > .alert > .progress {
  background-color: rgba(0, 0, 0, 0.24);
  margin-bottom: 8px;

  overflow: visible;
  height: 6px;
}

.notification-container > .alert > .progress > .progress-bar {
  background-color: #0067BF;
  box-shadow: 0 0 10px 0px #338BB7;
}

.notification-container > .alert > .progress > .progress-bar.hidden-items {
  background-color: #5B5B5B;
  box-shadow: 0 0 10px 0px #5B5B5B;
}

.notification-container button {
  background: none;
  border: none;
  text-transform: uppercase;
  font-weight: 700;
  color: #1D6CAF;
  text-shadow: 0 0 10px #338BB7;
  padding: 8px;
  font-size: 0.8em;
  border-radius: 4px;

  transition-property: background-color;
  transition-duration: 0.2s;
}
.notification-container button:hover:not([disabled]) {
  background-color: rgba(255,255,255,0.1);
}
.notification-container button[disabled] {
  color: #797A7B;
  text-shadow: none;
}

.progress-bar:first-child {
  border-radius: 4px 0 0 4px;
}
.progress-bar:last-child {
  border-radius: 0 4px 4px 0;
}
.progress-bar:first-child:last-child {
  border-radius: 4px;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.wdt-banner {
  position: relative;
  margin: 10px auto;
}
.wdt-banner .bg-holder {
  background: url("../imgs/banner.svg");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 800px;
  margin: 0 auto;
}
.wdt-banner .bg-holder img {
  width: 100%;
  min-width: 506px;
  visibility: hidden;
  max-width: inherit;
}

form {
  padding: 14px;
}

label {
  margin-top: 16px;
  margin-bottom: 3px;
}

a:not([disabled]) {
  cursor: pointer;
}

a[disabled] {
  color: #888;
}

a[disabled]:hover {
  text-decoration: none;
}

button[type="submit"] {
  display:block;
  margin: 10px auto;
}

.panel-footer {
  overflow: auto;
}

/* NEW VIEW */

.query-editor .CodeMirror {
  height: auto;
}

.query-panel .panel-body {
  padding: 5px;
}

.query-panel .query-editor {
  margin: 5px;
  margin-bottom: -14px;
}

.query-panel .sample-queries {
  text-align: right;
}

.query-panel .sample-queries .collapse-toggle {
  font-size: 80%;
}

.query-panel .sample-queries .items {
  text-align: left;

  border-top: 1px solid #ddd;
}

.query-panel .sample-queries .items a {
  display: block;
  color: #555;

  border-bottom: 1px solid #ddd;
  padding: 2px 8px;
  font-size: 90%;
}

.query-panel .sample-queries .items a:hover {
  text-decoration: none;
  background-color: #EEE;
}

.query-panel .sample-queries .items a code {
  color: #555;
  display: block;
  background: none;
  padding: 0;
}

form.new-view {
  width:100%;
  max-width: 600px;
  margin: 0 auto;
}

.wdq-docs {
  max-height: 280px;
  overflow: auto;
  margin-top: 6px;
}
.wdq-docs tt {
	margin:2px;
	padding:1px;
	border:dotted 1px #AAAAAA;
	background-color:#CEDEF4;
}
span.property {
	background-color:#CAFFD8;
	font-family:Courier, monospace;
	font-size:11pt;
}
span.item {
	background-color:#FFCECE;
	font-family:Courier, monospace;
	font-size:11pt;
}
.wdq-docs .qualifiers {
	color:#1FCB4A;
	font-style:italic;
}

.wdq-docs.contextual-only > ul {
  padding: 0;
}
.wdq-docs.contextual-only > ul > li {
  list-style: none;
}

/** timeline view **/
.options-bar {
  height: 32px;
  line-height: 32px;
  background-color: #FFF;
  width: 100%;
  position: absolute;
  top: 0;
}
body.embedded .options-bar {
  opacity: 0;
  transition: opacity 0.2s;
}
body.embedded:hover .options-bar {
  opacity: 1;
}

.left-right-bar > .left {
  float: left;
  margin-left: 8px;
}
.left-right-bar > .right {
  float: right;
  margin-right: 8px;
}

.embed-modal pre {
  max-height: 140px;
}

.embed-modal .embed-preview {
  overflow:auto;
}

span[data-toggle="tooltip"] {
  border-bottom: 1px dotted #999;
  transition: border-style 0.2s;
}

wdt-help {

}
.help-icon {
  display: inline-block;

  padding: 0 4px;
  font-size: 14px;
  line-height: 15px;
  border-radius: 20px;
}
