html, body {
  width:100%;
  height:100%;

  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

#menu-bar {
  width: 100%;
}

#main-content {
  width: 100%;
  flex: 1;

  overflow: auto;
}
