.timeline-container {
  width: 100%;
  height: 100%;
  overflow: auto;

  background-color: #F0F0F0;
}

.mini-chart {
  position: absolute;
  bottom: 0;
  left: 0;

  background-color: #FCFCFC;
  cursor: move;
}

.timeline-container .main-chart-container {
  width: 100%;
  height: 100%;

  overflow: auto;
}

.timeline-container .main-chart {
  font-family: Roboto, sans-serif;
}
.timeline-container text,
.timeline-container tspan {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.timeline-container .main-chart .item rect,
.timeline-container .main-chart .item circle {
  fill: #FD5;
  /*stroke: #C92;*/
}

/*.timeline-container .main-chart .item rect {
  shape-rendering: crispEdges;
}*/

.timeline-container .main-chart .item circle {
  stroke: #C92;
}

.timeline-container .mini-chart .items-path {
  stroke: #FD5;
  shape-rendering: crispEdges;
}

.timeline-container .main-chart .item text {
  font-size: 12px;
}

.timeline-container .main-chart .axis .tick line {
  stroke-width: 1px;
  stroke: #000;
}

.timeline-container .main-chart .grid .tick line {
  stroke-width: 1px;
  stroke: #AAA;
  stroke-dasharray: 1,1;
  shape-rendering: crispEdges;
}

.timeline-container .mini-chart .viewfield {
  fill: #08D;
  fill-opacity: 0.1;
  stroke: #08E;
  stroke-width: 1px;

  shape-rendering: crispEdges;
}
