.timeline-container {
  width: 100%;
  height: 100%;
  overflow: auto;

  background-color: #F0F0F0;
}

.timeline {
  font-family: Roboto, sans-serif;
  background-color: #F0F0F0;
}

.timeline .item rect {
  fill: #FFDD55
}

.mini-timeline .items-path {
  stroke: #FD5;
}

.timeline .item text {
  font-size: 12px;
}

.timeline .axis .tick line {
  stroke-width: 1px;
  stroke: #000;
}

.timeline .grid .tick line {
  stroke-width: 1px;
  stroke: #AAA;
  stroke-dasharray: 1,1;
}
