.timeline-container {
  font-family: Roboto, sans-serif;

  overflow: auto;
}

.timeline .item rect {
  fill: #ffdd55
}

.timeline .item rect {
  stroke: white;
  stroke-width: 1.5px;
}

.timeline .item text {
  font-size: 12px;
}

.timeline .grid .tick line {
  stroke-width: 1px;
  stroke: #AAA;
}
