<div class="timeline-container" style="padding-top: 32px;">
  <div class="options-bar left-right-bar">
    <div class="left">
      <a ng-show="embedded"
        target="blank"
        title="View this timeline at Wikidata Timeline"
        ng-href="{{unembeddedUrl()}}">Wikidata Timeline</a>
      <!-- <a href="javascript:;">Settings</a> -->
    </div>
    <div class="right">
      <a role="button"
        class="embed-link"
        data-toggle="modal" data-target=".embed-modal"
        ga-track-event="['timeline', 'embed']"
        href="javascript:;">Embed</a>
      |
      <a role="button"
        class="download-link"
        href-lang="image/svg+xml"
        target="blank"
        ng-mouseenter="createDownloadURL()"
        ng-focus="createDownloadURL()"
        download="{{title}}.svg"
        ga-track-event="['timeline', 'download']"
        ng-href="{{downloadURL || ''}}">Download</a>
    </div>
  </div>
</div>

<div class="notification-container" ng-show="queryState">

  <div class="alert alert-info" role="alert"
    ng-if="queryState == queryStates.Wikidata && wikidataQuery"
    style="padding-bottom: 0;">
    <div class="progress">
      <div class="progress-bar progress-bar-striped shown-items"
      ng-class="{'active': wikidataQuery.getState() !== wdQueryStates.Paused }"
      role="progressbar"
      aria-valuenow="{{percentLoaded('shown')}}"
      aria-valuemin="0"
      aria-valuemax="100"
      ng-style="{'width': percentLoaded('shown') + '%' }"
      title="{{shownEntities.length}} loaded and showing">
        <span class="sr-only">{{shownEntities.length}} loaded and showing</span>
      </div>
      <div class="progress-bar progress-bar-striped hidden-items"
      ng-class="{'active': wikidataQuery.getState() !== wdQueryStates.Paused }"
      role="progressbar"
      aria-valuenow="{{percentLoaded('hidden')}}"
      aria-valuemin="0"
      aria-valuemax="100"
      ng-style="{'width': percentLoaded('hidden') + '%' }"
      title="{{hiddenEntities.length}} missing date data">
        <span class="sr-only">{{hiddenEntities.length}} missing date data</span>
      </div>
    </div>
    <div class="flex-row">
      <div style="flex:1">{{itemsLoaded}} / {{totalItemsToLoad}}</div>

      <button
        ng-show="wikidataQuery.getState() == wdQueryStates.Active"
        ga-track-event="['timeline', 'pause']"
        ng-click="wikidataQuery.pause()">
        Pause
      </button>
      <button
        disabled
        ng-show="wikidataQuery.getState() == wdQueryStates.Pausing">
        Pausing...
      </button>
      <button
        ng-show="wikidataQuery.getState() == wdQueryStates.Paused"
        ga-track-event="['timeline', 'resume']"
        ng-click="wikidataQuery.resume()">
        Resume
      </button>
    </div>
  </div>

  <div class="alert alert-info" role="alert"
    ng-if="queryState == queryStates.WDQ">
    Querying <a href="https://wdq.wmflabs.org/api_documentation.html" target="_blank">WikidataQuery</a>...
  </div>
</div>

<!-- Modal -->
<div class="modal embed-modal fade" tabindex="-1" role="dialog" aria-labelledby="embedModalLabel" ng-controller="EmbedCtrl">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="embedModalLabel">Embed</h4>
      </div>
      <div class="modal-body">
        <ul class="nav nav-pills">
          <li ng-repeat="$embedType in embedTypes track by $index"
            role="presentation"
            ng-click="setEmbedType($index)"
            ng-class="{'active': isActive($index) }">
            <a href="javascript:;">{{$embedType.name}}</a>
          </li>
        </ul>
        <pre class="embed-code"><code></code></pre>
        <div class="embed-preview"></div>
      </div>
      <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-primary">Done</button>
      </div>
    </div>
  </div>
</div>
