<div class="timeline-container" style="padding-top: 32px;">
  <div class="options-bar left-right-bar">
    <div class="left">
      <!-- <a href="javascript:;">Settings</a> -->
    </div>
    <div class="right">
      <a role="button"
        class="download-link"
        href-lang="image/svg+xml"
        target="blank"
        ng-mouseenter="createDownloadURL()"
        ng-focus="createDownloadURL()"
        download="wikidata-timeline.svg"
        ng-href="{{downloadURL || ''}}">Download</a>
    </div>
  </div>
</div>

<div class="notification-container" ng-show="queryState">

  <div class="alert alert-info" role="alert"
    ng-if="queryState == queryStates.Wikidata && wikidataQuery"
    style="padding-bottom: 0;">
    <div class="progress">
      <div class="progress-bar progress-bar-striped shown-items"
      ng-class="{'active': wikidataQuery.getState() !== wdQueryStates.Paused }"
      role="progressbar"
      aria-valuenow="{{percentLoaded('shown')}}"
      aria-valuemin="0"
      aria-valuemax="100"
      ng-style="{'width': percentLoaded('shown') + '%' }"
      title="{{shownEntities.length}} loaded and showing">
        <span class="sr-only">{{shownEntities.length}} loaded and showing</span>
      </div>
      <div class="progress-bar progress-bar-striped hidden-items"
      ng-class="{'active': wikidataQuery.getState() !== wdQueryStates.Paused }"
      role="progressbar"
      aria-valuenow="{{percentLoaded('hidden')}}"
      aria-valuemin="0"
      aria-valuemax="100"
      ng-style="{'width': percentLoaded('hidden') + '%' }"
      title="{{hiddenEntities.length}} missing date data">
        <span class="sr-only">{{hiddenEntities.length}} missing date data</span>
      </div>
    </div>
    <div class="flex-row">
      <div style="flex:1">{{itemsLoaded}} / {{totalItemsToLoad}}</div>

      <button
        ng-show="wikidataQuery.getState() == wdQueryStates.Active"
        ng-click="wikidataQuery.pause()">
        Pause
      </button>
      <button
        disabled
        ng-show="wikidataQuery.getState() == wdQueryStates.Pausing">
        Pausing...
      </button>
      <button
        ng-show="wikidataQuery.getState() == wdQueryStates.Paused"
        ng-click="wikidataQuery.resume()">
        Resume
      </button>
    </div>
  </div>

  <div class="alert alert-info" role="alert"
    ng-if="queryState == queryStates.WDQ">
    Querying <a href="https://wdq.wmflabs.org/api_documentation.html" target="_blank">WikidataQuery</a>...
  </div>
</div>
